In [ ]:
from subgrounds import Subgrounds
from subgrounds.subgraph.fieldpath import FieldPath
import pandas as pd

sg = Subgrounds()
current = sg.load_subgraph('https://api.thegraph.com/subgraphs/name/klimadao/polygon-digital-carbon')
staging = sg.load_subgraph('https://api.thegraph.com/subgraphs/name/klimadao/staging-polygon-digital-carbon')

number_records = 1000

In [49]:
def get_all_query_fields(sg_query, derived_fields: list[str]) -> list[FieldPath]:
    fields = sg_query.__dict__.keys()
    fields = [item for item in fields if not item.startswith('_') and not item in derived_fields]
    return [sg_query.__getattribute__(item) for item in fields]

In [50]:
# Token entity

derived_fields = []

current_results = current.Query.tokens(
    first=number_records,
    orderBy=current.Token.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.tokens(
    first=number_records,
    orderBy=staging.Token.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [51]:
# Ecosystem entity

derived_fields = []

current_results = current.Query.ecosystems(
    first=number_records,
    orderBy=current.Ecosystem.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.ecosystems(
    first=number_records,
    orderBy=staging.Ecosystem.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [52]:
# Epoch entity

derived_fields = []

current_results = current.Query.epoches(
    first=number_records,
    orderBy=current.Epoch.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.epoches(
    first=number_records,
    orderBy=staging.Epoch.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [53]:
# Carbon Project entity

derived_fields = ['carbonCredits']

current_results = current.Query.carbonProjects(
    first=number_records,
    orderBy=current.CarbonProject.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.carbonProjects(
    first=number_records,
    orderBy=staging.CarbonProject.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

                carbonProjects_category
                                   self             other
65   Renewable Energy, Renewable Energy  Renewable Energy
155  Renewable Energy, Renewable Energy  Renewable Energy

In [54]:
# Carbon Credit entity

derived_fields = ['bridges','retires','poolBalances']

current_results = current.Query.carbonCredits(
    first=number_records,
    orderBy=current.CarbonCredit.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.carbonCredits(
    first=number_records,
    orderBy=staging.CarbonCredit.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

         carbonCredits_project_category
                                   self             other
51   Renewable Energy, Renewable Energy  Renewable Energy
75   Renewable Energy, Renewable Energy  Renewable Energy
377  Renewable Energy, Renewable Energy  Renewable Energy

In [55]:
# Carbon Credit Snapshot entity

derived_fields = []

current_results = current.Query.carbonCreditSnapshots(
    first=number_records,
    orderBy=current.CarbonCreditSnapshot.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.carbonCreditSnapshots(
    first=number_records,
    orderBy=staging.CarbonCreditSnapshot.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [56]:
# Bridge entity

derived_fields = []

current_results = current.Query.bridges(
    first=number_records,
    orderBy=current.Bridge.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.bridges(
    first=number_records,
    orderBy=staging.Bridge.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [57]:
# Crosschain Bridge entity

derived_fields = []

current_results = current.Query.crossChainBridges(
    first=number_records,
    orderBy=current.CrossChainBridge.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.crossChainBridges(
    first=number_records,
    orderBy=staging.CrossChainBridge.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [58]:
# Retire entity

derived_fields = ['klimaRetire']

current_results = current.Query.retires(
    first=number_records,
    orderBy=current.Retire.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.retires(
    first=number_records,
    orderBy=staging.Retire.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [59]:
# Klima Retire entity

derived_fields = []

current_results = current.Query.klimaRetires(
    first=number_records,
    orderBy=current.KlimaRetire.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.klimaRetires(
    first=number_records,
    orderBy=staging.KlimaRetire.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [60]:
# Toucan Batch entity

derived_fields = []

current_results = current.Query.toucanBatches(
    first=number_records,
    orderBy=current.ToucanBatch.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.toucanBatches(
    first=number_records,
    orderBy=staging.ToucanBatch.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [61]:
# Carbon Pool entity

derived_fields = ['creditBalances', 'dailySnapshots','deposits','redeems']

current_results = current.Query.carbonPools(
    first=number_records,
    orderBy=current.CarbonPool.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.carbonPools(
    first=number_records,
    orderBy=staging.CarbonPool.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [62]:
# Carbon Pool Daily Snapshot entity

derived_fields = ['creditBalances','deposits','redeems']

current_results = current.Query.carbonPoolDailySnapshots(
    first=number_records,
    orderBy=current.CarbonPoolDailySnapshot.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.carbonPoolDailySnapshots(
    first=number_records,
    orderBy=staging.CarbonPoolDailySnapshot.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [63]:
# Carbon Pool Credit Balance entity

derived_fields = ['dailySnapshots']

current_results = current.Query.carbonPoolCreditBalances(
    first=number_records,
    orderBy=current.CarbonPoolCreditBalance.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.carbonPoolCreditBalances(
    first=number_records,
    orderBy=staging.CarbonPoolCreditBalance.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [64]:
# Carbon Pool Credit Balance Daily Snapshot entity

derived_fields = ['deposits','redeems']

current_results = current.Query.carbonPoolCreditBalanceDailySnapshots(
    first=number_records,
    orderBy=current.CarbonPoolCreditBalanceDailySnapshot.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.carbonPoolCreditBalanceDailySnapshots(
    first=number_records,
    orderBy=staging.CarbonPoolCreditBalanceDailySnapshot.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [65]:
# Pool Deposit entity

derived_fields = []

current_results = current.Query.poolDeposits(
    first=number_records,
    orderBy=current.PoolDeposit.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.poolDeposits(
    first=number_records,
    orderBy=staging.PoolDeposit.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [66]:
# Pool Redeem entity

derived_fields = []

current_results = current.Query.poolRedeems(
    first=number_records,
    orderBy=current.PoolRedeem.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.poolRedeems(
    first=number_records,
    orderBy=staging.PoolRedeem.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [69]:
# Account entity

derived_fields = ['bridges','retiresBeneficiary','retiresInitiator','poolDeposits','poolRedeems','holdings','holdingSnapshots']

current_results = current.Query.accounts(
    first=number_records,
    orderBy=current.Account.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.accounts(
    first=number_records,
    orderBy=staging.Account.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Holding entity

derived_fields = []

current_results = current.Query.holdings(
    first=number_records,
    orderBy=current.Holding.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.holdings(
    first=number_records,
    orderBy=staging.Holding.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

In [74]:
# Holding Daily Snapshots entity

derived_fields = []

current_results = current.Query.holdingDailySnapshots(
    first=number_records,
    orderBy=current.HoldingDailySnapshot.id,
    orderDirection='asc'
)

df_current = sg.query_df(
  get_all_query_fields(current_results, derived_fields)
)

new_results = staging.Query.holdingDailySnapshots(
    first=number_records,
    orderBy=staging.HoldingDailySnapshot.id,
    orderDirection='asc'
)

df_new = sg.query_df(
  get_all_query_fields(new_results, derived_fields)
)

df_current.compare(df_new)

Empty DataFrame
Columns: []
Index: []